RewriteEngine On

# إذا كان الملف أو المجلد غير موجود، قم بإعادة كتابة الرابط إلى index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]